<!DOCTYPE html>
<!--[if lt IE 7]>      <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html lang="en" ng-app="myApp" class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html lang="en" ng-app="myApp" class="no-js"> <!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ngActionSheet</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../dist/dg-modal.css">

  <style>
    .page{
      margin: 0px;
      padding: 0px;
      width: 100%;
      height: 100%;
      background-color: red;
    }


    .page-content{
      margin:30px;
      padding:10px;
      background: white;
    }
  </style>
</head>
<body>


  <div class="page" ng-controller="appController">
    <button ng-click="open()">Display</button>
    <button ng-click="close()">Close With Promise</button>



    <div class="page-content">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>
      <br>
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>


      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>
      <br>
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>


      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>
      <br>
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>


      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>
      <br>
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>
      <br>
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>

      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>
      <br>
      <br>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque lacinia arcu arcu, sit amet rutrum nibh vulputate nec. Vivamus id ornare enim. Vestibulum erat ipsum, condimentum ut lorem sed, varius blandit metus. Sed volutpat erat eu arcu lobortis consequat ac vitae nisi. In ut justo in libero cursus varius. Sed ornare tempus leo at eleifend. Fusce rutrum ac enim fringilla consectetur. Aliquam convallis a nunc eget laoreet. Integer non venenatis ligula. Nullam sollicitudin neque id lectus rutrum, eget dapibus sem aliquam. Aenean dictum ante ut pellentesque blandit. Integer laoreet elit at lacus semper, ut mollis nunc aliquam. Sed tincidunt ut lectus at hendrerit. Nulla nec dictum nunc, quis pulvinar tellus. Nam bibendum molestie nisl, eu tincidunt magna ullamcorper at.
      </p>
    </div>



  </div>

  <dg-modal enter="'fromLeft'" content="views/asContnet.html"></dg-modal>



  <script src="bower_components/angular/angular.js"></script>
  <script src="../dist/dg-modal.js"></script>
  <script src="app.js"></script>





</body>
</html>
